Summary
-------
`./godelw git-hooks` installs a [Git commit hook](https://git-scm.com/book/en/v2/Customizing-Git-Git-Hooks) that ensures
that all of the files in a project are formatted using `./godelw format` before they are committed (requires the project
to be a Git repository).

Tutorial start state
--------------------
* `${GOPATH}/src/${PROJECT_PATH}` exists, is the working directory and is initialized as a Git repository
* Project contains `godel` and `godelw`

Create Git commit hook
----------------------
Install the Git hooks for gödel in the current project by running the following:

```START_TUTORIAL_CODE
./godelw git-hooks
```END_TUTORIAL_CODE

With the repository initialized and hooks installed, we start writing code. Run the following to generate the initial
version of a `main.go` file echoes the arguments provided by the user:

```START_TUTORIAL_CODE
echo 'package main
import "fmt"
import "strings"
import "os"
func main() {
	fmt.Println(strings.Join(os.Args[1:], " "))
}' > main.go
```END_TUTORIAL_CODE

This is valid Go that compiles and runs properly:

```START_TUTORIAL_CODE
go run main.go foo
```END_TUTORIAL_CODE

However, if we attempt to add and commit this file to the repository, it will fail:

```START_TUTORIAL_CODE
git add main.go
```END_TUTORIAL_CODE
```START_TUTORIAL_CODE|fail=true
git commit -m "Add main.go"
```END_TUTORIAL_CODE

This is because the commit hook has determined that `main.go` is not formatted properly. We can run `./godelw format`
(this is covered in more detail in the [Format](https://github.com/palantir/godel/wiki/Format) section of the tutorial)
to format the file and then verify that adding and committing the file works:

```START_TUTORIAL_CODE
./godelw format
```END_TUTORIAL_CODE
```START_TUTORIAL_CODE
git add main.go
```END_TUTORIAL_CODE
```START_TUTORIAL_CODE
git commit -m "Add main.go"
```END_TUTORIAL_CODE

We now have a repository that contains the first version of our echgo2 program and have a commit hook that ensures that
all of the code we check in for our program will be properly formatted.

Tutorial end state
------------------
* `${GOPATH}/src/${PROJECT_PATH}` exists, is the working directory and is initialized as a Git repository
* Project contains `godel` and `godelw`
* Project contains `main.go`

Tutorial next step
------------------
[Generate IDE project for GoLand](https://github.com/palantir/godel/wiki/Generate-IDE-project)

More
----
### Hook installation
Running `./godelw git-hooks` will overwrite the `.git/hooks/pre-commit` file (including any previous customizations).

### Uninstalling the hook
The commit hook can be uninstalled by removing the generated commit hook file at `.git/hooks/pre-commit`.
