Summary
-------
`./godelw test` runs the Go tests in the project.

Tutorial start state
--------------------
* `${GOPATH}/src/${PROJECT_PATH}` exists, is the working directory and is initialized as a Git repository
* Project contains `godel` and `godelw`
* Project contains `main.go`
* Project contains `.gitignore` that ignores GoLand files
* Project contains `echo/echo.go` and `echo/echoer.go`

Run tests
---------
We will now add some tests to our program. Run the following to add tests for the `echo` package:

```START_TUTORIAL_CODE
SRC='package echo_test

import (
	"testing"

	"PROJECT_PATH/echo"
)

func TestEcho(t *testing.T) {
	echoer := echo.NewEchoer()
	for i, tc := range []struct {
		in   string
		want string
	}{
		{"foo", "foo"},
		{"foo bar", "foo bar"},
	} {
		if got := echoer.Echo(tc.in); got != tc.want {
			t.Errorf("case %d failed: want %q, got %q", i, tc.want, got)
		}
	}
}' && SRC=${SRC//PROJECT_PATH/$PROJECT_PATH} && echo "$SRC" > echo/echo_test.go
```END_TUTORIAL_CODE

Run `./godelw test` to run all of the Go tests in the project:

```START_TUTORIAL_CODE
./godelw test
```END_TUTORIAL_CODE

Commit the test to the repository:

```START_TUTORIAL_CODE
git add echo
```END_TUTORIAL_CODE
```START_TUTORIAL_CODE
git commit -m "Add tests for echo package"
```END_TUTORIAL_CODE

Tutorial end state
------------------
* `${GOPATH}/src/${PROJECT_PATH}` exists, is the working directory and is initialized as a Git repository
* Project contains `godel` and `godelw`
* Project contains `main.go`
* Project contains `.gitignore` that ignores GoLand files
* Project contains `echo/echo.go`, `echo/echo_test.go` and `echo/echoer.go`

Tutorial next step
------------------
[Build](https://github.com/palantir/godel/wiki/Build)

More
----
### Differences between `./godelw test` and `go test ./...`
`./godelw test` has the following advantages over running `go test ./...`:

* Aligns the output so that all of the test times line up
* Only runs tests for files that are part of the project (uses the exclude parameters)

The test task also allows tags to be specified, which allows tests such as integration tests to be treated separately.
The [integration tests](https://github.com/palantir/godel/wiki/Integration-Tests) section of the tutorial covers this
in more detail.

### Generate JUnit reports
The `./godelw test --junit-output=<file>` command can be used to generate a JUnit-style output XML file that summarizes
the results of running the tests (implemented using [go-junit-report](https://github.com/jstemmer/go-junit-report)):

```START_TUTORIAL_CODE
./godelw test --junit-output=output.xml
```END_TUTORIAL_CODE

Verify that this operation wrote a JUnit report:

```START_TUTORIAL_CODE
cat output.xml
```END_TUTORIAL_CODE

Remove the output by running the following:

```START_TUTORIAL_CODE
rm output.xml
```END_TUTORIAL_CODE

### Run tests with flags
In some instances, we may want to specify flags for the `go test` operation -- for example, in the previous section, we
wanted to pass `-count=1` to force the tests to run without using cache. Other common test flags include `-timeout` to
specify a timeout, `-p` to specify the number of test binaries that can be run in parallel, `-json` to print the output
as JSON, etc.

The flags provided after the `./godelw test` command are passed directly to the underlying `go test` invocation. The
`--` separator should be used to ensure that the flags are not interpreted.

For example, the following command prints the output as JSON:

```START_TUTORIAL_CODE
./godelw test -- -json
```END_TUTORIAL_CODE
